.git
.idea/
logs/*.log
.github
tmp/*
django.db
celerybeat.pid
apps/__pycache__/
apps/static/ionicons/
*.pyc
data/*
config.py
/*/*/migrations/
.DS_Store
apps/.DS_Store
apps/common/ldapadmin_bak.py
apps/common/migrations/0001_initial.py
apps/common/migrations/__init__.py
apps/likes/__init__.py
apps/likes/api.py
apps/likes/apps.py
apps/likes/forms.py
apps/likes/hands.py
apps/likes/migrations/0001_initial.py
apps/likes/migrations/0002_auto_20180510_1045.py
apps/likes/migrations/0003_auto_20180510_1048.py
apps/likes/migrations/0004_viewcount_viewrecord.py
apps/likes/migrations/0005_auto_20180510_1457.py
apps/likes/migrations/0006_auto_20180510_1507.py
apps/likes/migrations/__init__.py
apps/likes/models.py
apps/likes/serializers.py
apps/likes/signals.py
apps/likes/signals_handler.py
apps/likes/templates/
apps/likes/templatetags/__init__.py
apps/likes/templatetags/likes_tags.py
apps/likes/urls/__init__.py
apps/likes/urls/api_urls.py
apps/likes/urls/view_urls.py
apps/likes/utils.py
apps/likes/views.py
apps/navis/migrations/0002_auto_20180512_1116.py
apps/perms/migrations/0001_initial.py
apps/perms/migrations/0002_auto_20180502_1156.py
apps/perms/migrations/__init__.py
apps/static/.DS_Store
apps/users/migrations/0001_initial.py
apps/users/migrations/__init__.py
docs/.DS_Store
docs/_static/.DS_Store
docs/_static/img/.DS_Store